@import "part:@sanity/base/theme/variables-style";

.root {
  position: relative;
}

.isLoading {
  display: flex;
}
.isLoading span {
  margin-left: var(--small-padding);
  font-size: var(--font-size-small);
}

.warning {
  padding: var(--medium-padding);
  background-color: #efefefef;
  color: var(--black);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formField {
  display: inline-block;
}

.setupButtonContainer {
  position: relative;
  display: block;
  font-size: 0.8em;
  transform: translate(0%, -10%);
}

.cancelRemoveVideoButton {
  display: inline-block;
  position: relative;
  left: var(--small-padding);
}

.confirmDeletePopoverButtons {
  margin-bottom: var(--medium-padding);
}

.popoverAnchor {
  position: absolute;
}

.thumbPreview {
  border: 1px solid var(--gray);
}
