@import 'part:@sanity/base/theme/variables-style';

.formField {
  display: inline-block;
}

.setupButtonContainer {
  position: relative;
  display: block;
  font-size: 0.8em;
  transform: translate(0%, -10%);
}

.cancelRemoveVideoButton {
  display: inline-block;
  position: relative;
  left: var(--small-padding);
}

.confirmDeletePopoverButtons {
  margin-bottom: var(--medium-padding);
}

.thumbPreview {
  border: 1px solid var(--gray);
}

.deleteCheckboxRow:not(:last-child) {
  margin-bottom: 0.5rem;
}
