@import 'part:@sanity/base/theme/variables-style';

.formField {
  margin-bottom: var(--medium-padding);
}

.buttons {
  margin-bottom: var(--small-padding);
}

.buttons button {
  margin-right: 10px;
}

.notice {
  margin-top: var(--medium-padding);
  font-size: var(--font-size-small);
  color: var(--gray-darker);
}

.error {
  color: var(--state-danger-color);
  font-size: var(--font-size-small);
}
