@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.hasFocus {
  composes: root;
}

.noFocus {
  composes: root;
}

.iconContainer {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--small-padding);
}

.strong {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.dropFile,
.pasteFile {
  padding: 1rem;
  display: none;
  @media (--screen-medium) {
    display: block;
  }
}

.dropFile.isDraggingOver {
  color: var(--state-success-color);
}

.pasteFile {
  opacity: 0.2;
  transition: opacity linear 0.2s;
}

.pasteFile.hasFocus {
  opacity: 1;
}


.invalidPaste,
.invalidFile {
  color: var(--state-danger-color);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
