html,
body,
#root {
  height: 100%;
  overscroll-behavior: none;
}

html {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    135deg,
    hsl(18deg 100% 50%) 0%,
    hsl(10deg 100% 56%) 11%,
    hsl(2deg 100% 59%) 22%,
    hsl(354deg 100% 59%) 33%,
    hsl(348deg 100% 56%) 44%,
    hsl(342deg 100% 54%) 56%,
    hsl(336deg 100% 52%) 67%,
    hsl(333deg 100% 51%) 78%,
    hsl(330deg 100% 52%) 89%,
    hsl(328deg 100% 55%) 100%
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
